<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BrogeyBackdrops</title>
        <style>
            body {
                background-image: url('../{{ picture[0]["photoPath"] }}');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
    </head>
    <body onload="errorMessage()">
        <script>
            function errorMessage() {
                if ("{{ display_alert }}" == "True") {
                    alert("{{ message }}");
                }
            }
        </script>
        Sign up
        <form action="/" method="POST" enctype="multipart/form-data">
            <p><input type="file" name="imageFile" id="imageFile" accept="image/*"></p>
            <p><input type="text" name="userCode" placeholder="Association code"></p>
            <p><input type="submit" value="Upload"></p>
        </form>
        {{ picture[0]["photoPath"] }}
    </body>
</html>