<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BrogeyBackdrops</title>
        <style>
            body {
                background-image: url('../{{ picture[0]["photoPath"] }}');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
        <!-- Commented bc these files arent in the repo rn but feel free to uncomment when they are! -->
        <!-- <link rel="stylesheet" href="style.css"> -->
    </head>
    <body onload="dropdown(); errorMessage();">
        <script>
            function errorMessage() {
                if ("{{ display_alert }}" == "True") {
                    alert("{{ message }}");
                }
            }
        </script>
        <body>
        <div id = "digital-clock"> </div>
        <!-- Commented bc these files arent in the repo rn but feel free to uncomment when they are! -->
        <!-- <script src = "script.js"> </script> -->

        <form role="search" id="form">
            <input type="search" id="query" name="q">
            <button>GO</button>
        </form>

        <script>
            const f = document.getElementById('form');
            const q = document.getElementById('query')
            const google = 'https://www.google.com/search?q=';
                    
            f.addEventListener('submit', submitted);
                    
            function submitted(){
                const url = google + '+' + q.value;
                window.open(url);
            }
        </script>
    
        <script>
            function Time() {
                var date = new Date();
                var hour = date.getHours();
                var minute = date.getMinutes();
                var period = "";
                if (hour >= 12) {
                    period = "PM";
                } else {
                    period = "AM";
                }
                if (hour == 0) {
                    hour = 12;
                } else {
                    if (hour > 12) {
                            hour = hour - 12;
                    }
                }
                    hour = update(hour);
                    minute = update(minute);
                    document.getElementById("digital-clock").innerText = hour + " : " + minute + " " + period;
                    setTimeout(Time, 1000);
                }
            function update(minute) {
                if (minute < 10) {
                    return "0" + minute;
                }
                else {
                    return minute;
                }
            }
            Time();
        </script> 
        <!-- backend inputs -->
        <br><br>
        Select action: <select id="dropDown" onchange="dropdown()">
            <option value="one" selected="selected" id="enter_code">Join a group</option>
            <option value="two" id="register_new">Register new group</option>
            <option value="three" id="change_picture">Change group image</option>
        </select>
           
        <div id="wrapperOne" style="display:none">
        <form action="/existing" method="POST" enctype="multipart/form-data">
            <p><input type="text" name="existingCode" placeholder="5-letter group code"></p> 
            <p><input type="text" name="existingPin" placeholder="4-digit pin"></p>
            <p><input type="submit" value="Join group!"></p>
        </form>   
        </div>
        <div id="wrapperTwo" style="display:none">
        <form action="/register" method="POST" enctype="multipart/form-data">
            <p><input type="file" name="firstImage" accept="image/*"></p>
            <p><input type="text" name="newCode" placeholder="5-letter group code"></p>
            <p><input type="text" name="newPin" placeholder="4-digit pin"></p>
            <p><input type="text" name="firstCap" placeholder="Caption"></p>
            <p><input type="submit" value="Upload"></p>
        </form> 
        </div>
        <div id="wrapperThree" style="display:none">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <p><input type="file" name="shareImage" accept="image/*"></p>
            <p><input type="text" name="shareCap" placeholder="Caption"></p>
            <p><input type="submit" value="Send to Friends!"></p>
        </form> 
        </div>

        <script>
            var dropDown = document.getElementById("dropDown"),
            myWrappers = [
                document.getElementById("wrapperOne"),
                document.getElementById("wrapperTwo"),
                document.getElementById("wrapperThree")
            ];
            function dropdown() {
                for (i=0; i<myWrappers.length; i++){
                    if(dropDown.value === "one"){
                        myWrappers[i].style.display = "none";
                        myWrappers[0].style.display = "block";
                    } else if(dropDown.value === "two"){
                        myWrappers[i].style.display = "none";
                        myWrappers[1].style.display = "block";
                    } else if(dropDown.value === "three"){
                        myWrappers[i].style.display = "none";
                        myWrappers[2].style.display = "block";
                    }
                }
            }   
        </script>
        <!-- end of backend inputs -->
    </body>
</html>